footer.navbar-default.navbar-fixed-bottom {
      padding:1em 0;
}

footer.navbar-default.navbar-fixed-bottom p  {
      margin:0;
      height: 30px;
}

body {
	background-color: #2c3e50;
	background-image: url("../images/bg1.jpg");
}


.navbar-default {
	border-radius: 0;
	background-image: linear-gradient(to bottom,#3c3c3c 0,#484646 100%);
}

.panel-info .panel-heading{
	background-image: linear-gradient(to bottom,#d9edf7 0,#7895a5 100%);
}

.jumbotron {
	background-image: url("../images/bg2.jpg");
	background-size: 280%;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-align: center;
}

.jumbotron h1 {
	margin-top: -20px;
}

.mysearch {
	padding: 9px 15px;
}

.footer_about {
	padding: 0 20px;
}

.panel {
	opacity: 0.8;
}

.table tbody > tr > td {
	padding: 10px 20px;
}

blockquote {
	margin-left: 5px;
	border-left: 5px solid #333;
}

@media screen and (max-width: 770px) {
    .jumbotron {
    	padding-bottom: 15px;
    }
	.btn-group > .btn {
		font-size: 10px;
	}
	.badge {
		display: block;
		margin-top: 10px
	}
	#click_comment {
		padding: 6x 12x !important;
	}
	.empty80px {
		margin-top: 37px;
		padding-top: 0px;
	}
}

.btn-group > .btn {
	font-size: 15px;
}
.badge {
	display: block;
	margin-top: 10px
}
.vblock {
  display: block;
	margin-top: 4px;
	margin-bottom: 12px 
} 

.add_confession {
	animation: mborder 5s infinite;
	border-bottom: 5px solid #31708f;
}

@keyframes mborder {
  	0%   { border-color: rgba(0, 255, 255, 1); }
    50%  { border-color: rgba(0, 255, 255, 0); }
    100% { border-color: rgba(0, 255, 255, 1); }
}

#click_comment {
	padding: 9px 12px;
}

.logo {
	width: 250px;
}

.empty80px {
	margin-top: 80px;
	padding-top: 0px;
}